<footer class="container-fluid container-footer">
        <div class="footer-box">
            <div class="brand  link-box">
                <h3>Shortly</h3>
            </div>
            <div class="features link-box">
                <h6>Features</h6>
                <ul>
                    <li><a href="">Link Shortening</a></li>
                    <li><a href="">Branded links</a></li>
                    <li><a href="">Analytics</a></li>
                </ul>
            </div>
            <div class="resources  link-box">
                <h6>Resources</h6>
                <ul>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Developers</a></li>
                    <li><a href="">Support</a></li>
                </ul>
            </div>
            <div class="company link-box">
                <h6>Company</h6>
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Our team</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="social-media  link-box">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </footer>
<script src="./js/main.js" type=""></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>